:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  /* (paragraphs) */
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  /* (background, headings, buttons) */
  --very-light-gray: hsl(0, 0%, 95%);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

body {
  font-family: 'Lexend Deca', sans-serif;
  margin: 0;
  background: var(--very-light-gray);
}

p {
  margin: 0;
  line-height: 1.6;
  padding-right: 0.5rem;
  color: var(--transparent-white);
}

.container {
  min-height: calc(100vh - 14px);
  display: grid;
  place-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 920px;
  margin: auto;
}

[class^='col-'] {
  padding: 3rem;
  color: var(--very-light-gray);
  display: grid;
  gap: 40px;
}

.col-1 {
  background-color: var(--bright-orange);
  border-radius: 10px 0 0 10px;
}

.col-1 > button {
  color: var(--bright-orange);
}

.col-2 {
  background-color: var(--dark-cyan);
}

.col-2 > button {
  color: var(--dark-cyan);
}

.col-3 {
  background-color: var(--very-dark-cyan);
  border-radius: 0 10px 10px 0;
}

.col-3 > button {
  color: var(--very-dark-cyan);
}

.card-heading {
  font-family: 'Big Shoulders Display', cursive;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--very-light-gray);
}

button {
  all: unset;
  background-color: var(--very-light-gray);
  padding: 1rem 2rem;
  border-radius: 2rem;
  cursor: pointer;
  width: max-content;
  margin-top: 50px;
  border: 2px solid transparent;
}

button:hover {
  color: var(--very-light-gray);
  background-color: transparent;
  border-color: var(--very-light-gray);
  transition: 0.2s ease-in;
}

@media screen and (max-width: 920px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .col-1 {
    border-radius: 10px 10px 0 0;
  }

  .col-3 {
    border-radius: 0 0 10px 10px;
  }

  .container {
    padding: 4rem 2rem;
  }

  button {
    margin-top: unset;
  }

  p {
    padding: 0;
  }
}
